{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "comma-dangle": 0,
    "semi": 1,
    "no-console": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-indent": 0,
    "linebreak-style": 0,
    "react/jsx-indent-props": 0,
    "no-nested-ternary": 0,
    "react/prop-types": 0,
    "import/no-unresolved": 0
  }
}
